body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

html, body, #app {
  height: 100%;
  width: 100%;
}

.landing-image {
  height: 100%;
  width: 100%;
  background: url("/images/homepagebg.jpg") !important;
  background-size: cover !important;
}

.routes-height {
  height: 100%;
}

.sidebar-text {
  color: #2986ce;
}

.ui.inverted.progress .bar>.progress {
  color: rgba(0,0,0,.6) !important;
}

.ui.grey.inverted.progress .bar {
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
 }

 #content {
  width: 480px;
  margin: 0 auto;
 }

 .editor {
  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: text;
  padding: 16px;
  border-radius: 2px;
  margin-bottom: 2em;
  box-shadow: inset 0px 1px 8px -3px #ABABAB;
  background: #fefefe;
  min-height: 140px;
  max-height: 140px;
  min-width: 300px;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 140px;
}

.options {
  margin-bottom: 20px;
.sketch-picker {
  height: 380px !important;
  margin-bottom: 1.5rem;
}

.canvas-display {
  border: none;
  border-radius: .28571429rem;
  margin-right: 2rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  transition: box-shadow .1s ease,transform .1s ease,-webkit-box-shadow .1s ease,-webkit-transform .1s ease;
}
