body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

html, body, #app {
  height: 100%;
  width: 100%;
}

.landing-image {
  height: 100%;
  width: 100%;
  background: url("/images/homepagebg.jpg") !important;
  background-size: cover !important;
}

.routes-height {
  height: 100%;
}

.sidebar-text {
  color: #2986ce;
}

.ui.inverted.progress .bar>.progress {
  color: rgba(0,0,0,.6) !important;
}

.ui.grey.inverted.progress .bar {
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
 }

 #content {
  width: 480px;
  margin: 0 auto;
 }

 .editor {
  border: 1px solid grey;
  padding: 6px;
 }
